<div class="row">
    <div class="col s12 m5 l4">
        <form>
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <h5 class="text-lighten-3">Cadastrar evento</h5>
                        <div class="input-field col s12">
                            <select>
                              <option value="" disabled selected>Selecione uma opção</option>
                              <option value="1">Público</option>
                              <option value="2">Privado</option>
                            </select>
                            <label>Tipo de local</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="dataEvento" type="text" class="datepicker">
                            <label for="dataEvento">Data evento</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="duracaoEvento" type="text" class="validate">
                            <label for="duracaoEvento">Duração do evento</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="capacidadeEvento" type="text" class="validate">
                            <label for="capacidadeEvento">Capacidade de pessoa</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <input type="checkbox" id="acessibilidadeEvento">
                            <label for="acessibilidadeEvento">Possui acessibilidade</label>
                        </div>
                    </div>
                    <div class="row">
                        <a class="btn right green">Salvar</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col s12 m7 l8">
        <div class="card">
            <div class="card-content">
            </div>
        </div>
    </div>
</div>